# === Локальные файлы ===
.env
.env.local
.config
venv/
env/
ENV/
*.swp
*.swo

# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[co]
.python-version

# === Базы данных ===
*.db
*.sqlite
*.sqlite3
database/*.json
database/db.json

# === IDE ===
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# === Системные файлы ===
.DS_Store
Thumbs.db

# === Логи и временные файлы ===
*.log
logs/
temp/
tmp/

# === Файлы, созданные aiogram ===
*.pyc
__pycache__/